 [Unit]
 Description=D3TI Back-end Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=make run -C /home/pi/scripts/

 [Install]
 WantedBy=multi-user.target